@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap');
$family-primary: 'Lora', serif

// colors
$dark: #1e1226
$darker: #100b13
$semi-dark: #422e4f
$primary: #eeeeee
$info: $semi-dark
$link: #a5a0a8
$link-hover: #e8e7e9

*::-webkit-clear-button
  display: none
  -webkit-appearance: none

html, .navbar
  background: $dark !important

// bulma variable overrides
$desktop: 700px
$container-max-width: 700px

input[type="date"]
  -webkit-appearance: none

input:focus
  outline: none

.robot
  max-width: 35px
  height: auto
  opacity: 0.7

.border-top
  border-top: 1px solid $semi-dark
  padding-bottom:

.border-bottom
  border-bottom: 1px solid $semi-dark

// custom helpers
/* https://unsplash.com/photos/x2Tmfd1-SgA */
.has-bg-img
  background: url('/landing-plant.jpg') center center
  background-size: cover

.has-background-none
  background-color: transparent

.underline
  text-decoration: underline

.circle-button
  border-radius: 100%
  overflow: hidden
  line-height: 0
  height: 25px
  width: 25px

.day-textarea
  border: none !important
  outline: none !important
  -webkit-box-shadow: none !important
  -moz-box-shadow: none !important
  box-shadow: none !important
  resize: none !important
  background: $darker !important

.today
  font-size: 1.14em
  .day-text
    font-size: 1.14em

.day-container

// import bulma
@import "bulma"
